@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 40 10% 96%;
    --card: 0 0% 8%;
    --card-foreground: 40 10% 96%;
    --primary: 43 44% 59%;
    --primary-foreground: 0 0% 4%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 40 10% 96%;
    --muted: 0 0% 11%;
    --muted-foreground: 40 5% 65%;
    --accent: 43 44% 59%;
    --accent-foreground: 0 0% 4%;
    --destructive: 0 62% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 43 44% 59%;
    --radius: 0.125rem;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-vault-black text-vault-ivory antialiased;
  }

  ::selection {
    @apply bg-vault-gold/30 text-vault-ivory;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
